<!-- Header -->
<app-header></app-header>

<!-- Sidebar -->
<app-sidebar></app-sidebar>

<!-- Main Content -->
<div class="main-content">
    <!-- Big div at the top -->
    <div class="big-chart">
        <app-admin-bar></app-admin-bar>
    </div>

    <!-- Two smaller divs below -->
    <div class="small-charts-container">
        <div class="small-chart-1">
            <app-line-admin></app-line-admin>
        </div>
        <div class="small-chart-2">
            <app-doughnut></app-doughnut>
        </div>
    </div>
</div>