<!-- Header -->
<app-header></app-header>

<!-- Sidebar -->
<app-sidebar></app-sidebar>

<!-- Main Content -->
<div class="main-content">
    <!-- Big div at the top -->
    <div class="big-chart">
        <app-store-bar></app-store-bar>
    </div>

    <!-- Two smaller divs below -->
    <div class="small-charts-container">
        <div class="small-chart-1">
            <app-store-line></app-store-line>
        </div>
        <div class="small-chart-2">
            <app-store-doughnut></app-store-doughnut>
        </div>
    </div>
</div>